<p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Description</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    {{#if articles}}
      {{#each articles}}
          <tr>
              <td>{{title}}</td>
              <td><a href="{{url}}">{{url}}</a></td>
              <td>{{text}}</td>
              <td>{{timestamp}}</td>
          </tr>
      {{/each}}
    {{else}}
        <tr>
            <td colspan="4" class="text-center">No data to display.</td>
        </tr>
    {{/if}}
    </tbody>
</table>
</p>
